@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic);

@bg-text-color: #fff;
@headingFont: 'Poiret One', Arial, cursive;
@mainFont: "Open Sans", Arial;
@sprite: url('../assets/images/csg-54cfb122b6749.png');

//mixins
.bigHeadingFont{
  font-family: @headingFont;
  font-size: 53px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.49);
  color: @bg-text-color;
}






.ui-view-container{
  position: relative;
}

[ui-view].ng-enter,
[ui-view].ng-leave{
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
[ui-view].ng-enter{
  opacity: 0;
//  -webkit-transform: scale3d(0.96,0.96,0.96);
//  -moz-transform: scale3d(0.96,0.96,0.96);
//  transform: scale3d(0.96,0.96,0.96);
}
[ui-view].ng-enter.ng-enter-active{
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  -moz-transform: scale3d(1,1,1);
  -o-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

[ui-view].ng-leave{
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
[ui-view].ng-leave.ng-leave-active{
  opacity: 0;
}


body{
  font-family: @mainFont;
  padding: 0;
  margin: 0;
}
//
//.browsehappy {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

#nav{
  position: absolute;
  width: 100%;
  z-index: 999;
  margin-top: 80px;

  &.fixed{
    position: fixed;
    margin-top: 0;

    .navbar-inner{
      background: rgba(0, 0, 0, 0.49);
    }

  }
  &.clickedMenu{
    .navbar-inner{
      background: rgba(0, 0, 0, 0.49);
    }
  }

  .navbar-inner{
    border: none;
    padding: 10px 0;
    border-radius: 0;

    .nav{
      .active,
      li:hover{
        a{
          opacity: 1;
        }
      }
      li{
        margin: 0 5px;

        &:hover a{
          color: #5e5e5e !important;
          text-shadow: 1px 1px 1px rgba(195, 195, 195, 0.44);
        }
      }

      a{
        color: #fff;
        opacity: 0.7;
        font-family: @headingFont;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
        font-weight: 700;
        font-size: 19px;
        padding: 5px 10px;

        &:focus{
          background: none;
        }

        &:hover{
          background-color: #eeeeee;
        }
      }
    }

  }

  .icon-bar{
    background: #fff;
  }

}

#home{
  position: relative;
  min-height: 653px;
  width: 100%;
  background: url("../assets/images/interer-minimalizm-tekstury.jpg");
  background-size: cover;
  background-position-x: 37%;
  background-position-y: 86%;

  .home-fill{
    background: #000000;
    opacity: 0.45;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .welcome-block{
    z-index: 1;
    position: relative;
    color: @bg-text-color;
    margin-top: 250px;


    h1 {
      .bigHeadingFont;
    }
  }

  .contact-info{
    color: @bg-text-color;
    z-index: 1;
    position: relative;
    font-family: @headingFont;
    margin-top: 120px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);

    h3{
      margin: 10px 0;
      font-weight: bold;

    }
    p{
      font-size: 17px;
    }
    a{
      color: @bg-text-color;

    }
  }

  .learn-more{
    color: @bg-text-color;
    z-index: 1;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -150px;
    font-family: @headingFont;

    a{
      color: @bg-text-color;
      font-size: 15px;
    }
  }
}
#grid-menu{
  background: #ebeeed;
  padding: 60px 0 30px 0;
  border-bottom: 1px solid rgb(224, 224, 224);

  .media{
    border-bottom: solid 1px #c7c9c8;
    border-right: solid 1px #c7c9c8;
    background: #fff;
    margin-bottom: 30px;
    font-family: @mainFont;

    .media-left{
      img{
        width: 130px;
      }
    }
    .media-body{
      vertical-align: middle;
      padding: 0 10px;
    }
  }
}
#how-we-work{
  padding: 60px 0;
  font-family: @headingFont;

  .heading{
    margin-bottom: 60px;

    h1{
      font-weight: bold;
    }
  }
  .schema{
    .schema-item{
      margin-bottom: 40px;
      text-align: center;
      position: relative;

      .sprite{
        display: inline-block;
        width: 88px;
        height: 88px;
        background: @sprite no-repeat;

        &.sprite-1call{ background-position: 0 0; }
        &.sprite-2demensions{ background-position: 0 -136px; }
        &.sprite-3count{ background-position: 0 -273px;  }
        &.sprite-4bringGoods{ background-position: 0 -409px;  }
        &.sprite-5makeRepearing{ background-position: 0 -546px; }
        &.sprite-6success{ background-position: 0 -683px; }

        &:hover{
          -webkit-animation-name: pulse;
          animation-name: pulse;
          -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
        }
      }

      .schema-descr{
        p{
          margin: 0;
          font-size: 17px;
          font-weight: 800;
        }
      }
      .sep-line{
        width: 23%;
        height: 3px;
        border-top: 1px solid rgb(179, 179, 179);;
        position: absolute;
        top: 35%;
        &.r{
          right: 0;
        }
        &.l{
          left: 0;
        }

      }

    }
  }
}
#why-we{
  padding: 60px 0;
  background: #e8e8e8;
  border-top: 1px solid #E7DBDB;

  .heading{
    margin-bottom: 60px;
    font-family: @headingFont;


    h1{
      font-weight: bold;
    }
  }

  .why-we-descr{
    font-family: @mainFont;

    .why-we-items{
      margin-bottom: 25px;

      h4{
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}


.portfolio-wrapper{
  .portfolio-header{
    position: relative;
    min-height: 600px;
    width: 100%;
    background: url("../assets/images/wall.jpg");
    background-size: cover;
    border-bottom: 1px solid rgb(66, 65, 66);
    box-shadow: 1px 0 4px rgb(27, 27, 27);

    .portfolio-heading{
      margin-top: 250px;

      h1{
        .bigHeadingFont;
      }
    }
  }
  .list-of-works{
    padding: 30px 0;
    .container{
      background: #F6F6F6;
      padding: 30px 30px;
      .work-item{
        margin-bottom: 25px;

        .description{
          h4{
            font-family: @headingFont;
            font-size: 19px;
            font-weight: 800;

            a{
              color: #696969;
            }
          }
        }

        .picture{
          max-width: 350px;
          max-height: 233px;
          img{
            width: 100%;
            max-height: 223px;
          }
        }
      }

    }
  }
}

.work-preview-wrapper{
  .head-logo{
    //    margin-top: 160px;
    min-height: 250px;
    width: 100%;
    background: url("../assets/images/wall.jpg");
    background-size: cover;
    border-bottom: 1px solid rgb(66, 65, 66);
    box-shadow: 1px 0 4px rgb(27, 27, 27);
    position: relative;

    .head-text{
      padding-top: 140px;
      h1{
        .bigHeadingFont;
        margin: 0;
      }

    }
  }

  .preview{
    padding: 40px 0;

    .row{
      margin-top: 30px;
    }

    .preview-image{
      padding: 10px;
      img{
        width: 100%;
      }
    }
  }
}

.contact-wrapper{
  .contact-header{
    width: 100%;
    min-height: 400px;
    background: url('../assets/images/contact.jpg');
    background-position-y: 60%;
    background-size: cover;
    border-bottom: 1px solid rgb(219, 218, 218);

    .heading{
      margin-top: 170px;
      h1{
        .bigHeadingFont;
      }
    }
  }
  .contact-information{
    padding: 50px 0;
  }
}


footer{
  padding: 30px 0;
  background: #505050;
  font-family: @mainFont;

  .copyright{
    color: #bfbfbf;

    span{
      color: #f1c40f;
      text-decoration: none;
    }
  }
}
.slide-up-wrapper{
  position: relative;
  .slide-up{
    position: fixed;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.13);
    bottom: 50%;
    margin-bottom: -25px;
    margin-left: -120px;
    font-size: 26px;
    padding-top: 8px;
    cursor: pointer;
    opacity: 0.39;
    display: none;

    &:hover{
      color: #fff;
    }

    &.fixed{
      display: block;
    }
  }

}

//   M E D I A    Q U E R I E S
@media screen and (max-width: 1400px) and (min-width: 1300px) {
  .slide-up-wrapper{
    .slide-up{
      margin-left: 0px;
      left: 10px;
    }
  }
}

@media screen and (max-width: 1300px) and (min-width: 1200px) {
  .slide-up-wrapper{
    .slide-up{
      margin-left: 0px;
      left: -5px;
      background: none;

      &:hover{
        opacity: 1;
        color: #000;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .portfolio-wrapper{
    .picture{
      img{
        max-height: 181px !important;
      }
    }
  }
  .portfolio-wrapper{
    .portfolio-header{
      min-height: 500px;
    }
  }
  .slide-up-wrapper{
    .slide-up{
      margin-left: 0;
      left: 10px;
      width: 34px;
      height: 40px;
      font-size: 22px;
      padding-top: 6px;
    }
  }

}
@media screen and (max-width: 1050px) and (min-width: 992px){
  .slide-up-wrapper{
    .slide-up{
      margin-left: 0px;
      left: -3px;
      background: none;

      &:hover{
        opacity: 1;
        color: #000;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  #home{
    min-height: 650px;
    .welcome-block{
      margin-top: 200px;

      h1{
        font-size: 50px;
      }
    }

    .contact-info{
      margin-top: 90px;
    }
  }
  #grid-menu .media .media-left img{
    width: 110px;
  }

  #why-we{
    h1{
      font-size: 31px;
    }
  }

  .portfolio-wrapper{
    .portfolio-header{
      min-height: 400px;

      .portfolio-heading{
        margin-top: 200px;
        h1{
          font-size: 49px;
        }
      }
    }
    .picture{
      img{
        max-height: 211px !important;
      }
    }
  }
}
@media screen and (max-width: 840px) {
  .slide-up-wrapper{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .sep-line{
    display: none;
  }
  .schema-item:after{
    content: "";
    width: 23%;
    height: 3px;
    border-top: 1px solid rgb(179, 179, 179);;
    position: absolute;
    top: 35%;
  }
  .schema-item:nth-of-type(2n+1):after{
    right: 0;
  }
  .schema-item:nth-of-type(2n+2):after{
    left: 0;
  }
  #why-we{
    h1{
      font-size: 27px;
    }
    .why-we-items {
      height: 180px;
    }
  }
  #nav{
    margin-top: 0;
    &.fixed .navbar-inner{
      padding: 0;
    }
  }
  .portfolio-wrapper{
    .portfolio-header{
      min-height: 300px;

      .portfolio-heading{
        margin-top: 100px;
        text-align: center;
        h1{
          font-size: 41px;
        }
      }
    }
    .picture{
      img{
        max-height: 201px !important;
      }
    }
  }

}
@media screen and (max-width: 740px) {
  #home{
    min-height: 600px;
    .welcome-block{
      margin-top: 140px;

      h1{
        font-size: 41px;
      }
    }

    .contact-info{
      margin-top: 40px;
    }
  }

  .portfolio-wrapper{
    .picture{
      img{
        max-height: 150px !important;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  #why-we{
    h1{
      font-size: 23px;
    }
    h3{
      font-size: 19px;
    }
  }
  .work-preview-wrapper {
    .head-logo .head-text{
      padding-top: 100px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 580px) {

  #why-we{

    .why-we-items {
      height: 200px;
    }
  }
  .portfolio-wrapper{
    .work-item{
      width: 100%;
    }
    .picture{
      margin: 0 auto;
      img{
        max-height: inherit !important;
      }
    }
  }

  .work-preview-wrapper {
    .head-logo .head-text{
      padding-top: 80px;
      text-align: center;
      h1{
        font-size: 47px;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  #home{
    min-height: 500px;
    .welcome-block{
      margin-top: 140px;

      h1{
        font-size: 27px;
      }
    }

    .contact-info{
      margin-top: 40px;
      h3{
        font-size: 16px;
      }
    }

    .learn-more{
      margin-left: -130px;
      a{
        font-size: 13px;
      }
    }
  }
  #how-we-work{
    .schema-descr{
      p{
        font-size: 15px !important;
      }
    }
  }
  .why-we-items {
    width: 100%;
    height: inherit !important;
  }
  .portfolio-wrapper{
    .portfolio-header{
      min-height: 300px;

      .portfolio-heading{
        margin-top: 90px;
        text-align: center;
        h1{
          font-size: 35px;
        }
      }
    }
  }
}
@media (min-width: 768px){
  .why-we-items {
    height: 150px;
  }
}




// injector
// endinjector
