<header id="nav" ng-controller="NavbarCtrl" fixed-menu="{{fixedPoint}}" >
  <div check-resize ng-model="fixedPoint"></div>
  <nav class="navbar navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse pull-right" aria-expanded="false" id="navbar">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="home" data-title="О нас">О нас</a></li>
          <li ui-sref-active="active"><a ui-sref="portfolio" data-title="Наши Работы">Наши Работы</a></li>
          <li ui-sref-active="active"><a ui-sref="contacts" data-title="Контакты">Контакты</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>

